version: "3.8"

services:
  minio1:
    image: minio/minio:latest
    hostname: minio1
    command: server --console-address ":9001" http://minio{1...4}/data
    volumes:
      - /mnt/minio/data:/data
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
      MINIO_BOOTSTRAP: on
    networks:
      - ai-net
    deploy:
      placement:
        constraints:
          - node.hostname == ip-172-31-9-234
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3

  minio2:
    image: minio/minio:latest
    hostname: minio2
    command: server --console-address ":9001" http://minio{1...4}/data
    volumes:
      - /mnt/minio/data:/data
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
      MINIO_BOOTSTRAP: on
    networks:
      - ai-net
    deploy:
      placement:
        constraints:
          - node.hostname == ip-172-31-0-173
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3

  minio3:
    image: minio/minio:latest
    hostname: minio3
    command: server --console-address ":9001" http://minio{1...4}/data
    volumes:
      - /mnt/minio/data:/data
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
      MINIO_BOOTSTRAP: on
    networks:
      - ai-net
    deploy:
      placement:
        constraints:
          - node.hostname == ip-172-31-15-50
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3

  minio4:
    image: minio/minio:latest
    hostname: minio4
    command: server --console-address ":9001" http://minio{1...4}/data
    volumes:
      - /mnt/minio/data:/data
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
      MINIO_BOOTSTRAP: on
    ports:
      - "9000:9000"
      - "9001:9001"
    networks:
      - ai-net
    deploy:
      placement:
        constraints:
          - node.hostname == ip-172-31-10-183
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3

networks:
  ai-net:
    external: true

secrets:
  minio_root_user:
    external: true
  minio_root_password:
    external: true