version: "3.8"

services:
  minio:
    image: minio/minio:latest
    hostname: "{% raw %}minio{{.Task.Slot}}{% endraw %}"
    command: server --console-address ":9001" http://minio{1...4}/data
    ports:
      - "9000:9000"
      - "9001:9001"
    networks:
      - ai-net
    volumes:
      - /mnt/minio/data:/data
    deploy:
      mode: replicated
      replicas: 4
      placement:
        max_replicas_per_node: 1
      restart_policy:
        condition: on-failure
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin

networks:
  ai-net:
    external: true

secrets:
  minio_root_user:
    external: true
  minio_root_password:
    external: true