version: '3.8'

services:
  postgres:
    image: postgres:14
    networks:
      - ai-net
    environment:
      POSTGRES_USER: "{{ postgres_user }}"
      POSTGRES_PASSWORD: "{{ postgres_password }}"
      POSTGRES_DB: prefect_server
    volumes:
      - prefect-db:/var/lib/postgresql/data
    deploy:
      placement:
        constraints:
          - node.role == manager

  prefect-server:
    image: prefecthq/prefect:3-latest
    command: prefect server start --host 0.0.0.0
    ports:
      - "4200:4200"
    networks:
      - ai-net
    environment:
      PREFECT_API_DATABASE_CONNECTION_URL: "postgresql+asyncpg://{{ postgres_user }}:{{ postgres_password }}@postgres:5432/prefect_server"
    depends_on:
      - postgres
    deploy:
      placement:
        constraints:
          - node.role == manager

  prefect-worker:
    image: prefecthq/prefect:3-latest
    command: >
      /bin/sh -c "
      echo 'Starting Prefect worker...';
      until prefect worker start -p my-docker-pool; do
        echo '⚠️ Prefect API not ready. Retrying in 5 seconds...';
        sleep 5;
      done"
    networks:
      - ai-net
    environment:
      PREFECT_API_URL: http://prefect-server:4200/api
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    deploy:
      replicas: 4 # Start with 2 worker replicas, you can scale this later
      placement:
        constraints:
          - node.role == worker
    depends_on:
      - prefect-server

volumes:
  prefect-db:

networks:
  ai-net:
    external: true
