[Unit]
Description=Prefect Server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory={{ prefect_home }}
ExecStart={{ prefect_install_venv }}/bin/prefect server start
Restart=on-failure

[Install]
WantedBy=multi-user.target
