[Unit]
Description=Prefect Agent
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory={{ prefect_home }}
ExecStart={{ prefect_install_venv }}/bin/prefect agent start --pool {{ prefect_work_pool_name }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
